.card {
  position: relative;
  width: 200px;
  height: 306px;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.infoOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%; /* Adjust height for the bottom overlay */
  background: rgba(0, 0, 0, 0.459); /* Darker overlay for contrast */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(20px); /* Start with offset */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.card:hover .infoOverlay {
  opacity: 1;
  transform: translateY(0); /* Move to position smoothly */
}

.name {
  font-size: 1.2rem; /* Adjust for smaller overlay */
  color: #fff;
  margin-bottom: 5px;
  text-align: center;
}

.socialLinks {
  display: flex;
  gap: 10px;
}

.socialLinks a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  transition: color 0.2s ease;
}

.socialLinks a:hover {
  color: #00acee; /* Twitter blue or adjust to platform color */
}

.role {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  border-radius: 8px;
}

@media only screen and (max-width: 768px) {
  .card {
    width: 150px;
    height: 230px;
  }

  .name {
    font-size: 0.9rem;
  }

  .role {
    font-size: 1rem;
  }
}